/* ---------------------------------- BODY ---------------------------------- */
body {
  margin: 0;
  font-family: aeonik-regular, sans-serif;
  position: relative;
  min-height: 100vh;
  background-color:#F5F5F7;
  width: 100%;
}

/* -------------------------------- FONT FACE ------------------------------- */
@font-face {
  font-family: aeonik-regular;
  src: local("aeonik-regular"), url("./fonts/Aeonik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: aeonik-medium;
  src: local("aeonik-regular"), url("./fonts/Aeonik-Medium.ttf") format("truetype");
}


/* ----------------------------------- NAV ---------------------------------- */
.nav {
  display:flex;
  flex-direction: column;
  width: 80%;
}

.about, 
.resume, 
.portfolio,
.contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
  color:  black;
  border: none;
  background-color: transparent !important;
  text-decoration: none;
  line-height: 2em;
  letter-spacing: 0.01em !important;
}

.about:hover, 
.resume:hover, 
.portfolio:hover,
.contact:hover {
  text-decoration: underline;
  cursor: pointer;
  border: none;
}
/* ----------------------------- PROJECT NAV BAR ---------------------------- */
.projectNav {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.aboutNav {
  font-size: 20px;
  font-weight: 400;
  color:  black;
  border: none;
  background-color: transparent !important;
  font-family: aeonik-regular, sans-serif;
  text-decoration: none;
}

.portfolioNav {
  font-size: 20px;
  font-weight: 400;
  color:  black;
  border: none;
  background-color: transparent !important;
  font-family: aeonik-regular, sans-serif;
  text-decoration: none;
  margin-left: 2%;
}

.resumeNav {
  font-size: 20px;
  font-weight: 400;
  color:  black;
  border: none;
  background-color: transparent !important;
  font-family: aeonik-regular, sans-serif;
  text-decoration: none;
  margin-left: 2%;
}

.contactNav {
  font-size: 20px;
  font-weight: 400;
  color:  black;
  border: none;
  background-color: transparent !important;
  font-family: aeonik-regular, sans-serif;
  text-decoration: none;
  margin-left: 2%;
  margin-right: 2%;
}

/* ---------------------------------- ABOUT --------------------------------- */
.title {
  font-family: aeonik-medium, sans-serif;
  font-size: 100px;
  font-weight: 400;
  margin-bottom: 2%;
  margin-top: 4%;
}

.introText {
  font-size: 60px;
  margin-bottom: 0;
  font-weight: 400;
  margin-top: 0;
  color: #6E6E73;
  letter-spacing: 0.01em !important;
  font-family: aeonik-medium, sans-serif;
}

.aboutTextDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  text-align: left;
  width: 80%;
}

.aboutText {
  font-weight: normal;
  font-size: 25px;
  line-height: 35px;
  padding-bottom: 2%;
  letter-spacing: 0.01em !important;
}

.arrow {
  margin-left: 1%;
}

.aboutImg {
  max-width: 20%;
  border-radius: 50%;
}

.aboutSection {
  display: flex;
  flex-direction: row;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 10%;
}
/* --------------------------------- MY WORK -------------------------------- */
.portfolioImages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.role {
  font-weight: normal;
  margin: 0%;
  letter-spacing: 0.01em;
  font-size: 20px;
  color: #6E6E73;
}

.githubLink {
  padding-left: 5%
}

.gitHubLinkLeft {
  color: black;
  text-decoration: none;
  font-size: 1.4em;
}

.gitHubLinkLeft:hover {
  text-decoration: underline;
}

.gitHubLinkRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 4%;
  color:  black;
  text-decoration: none;
}

.websiteLink {
  color: black;
}

.gitHubLinkRight:hover {
  text-decoration: underline;
}

.kitContainer {
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  margin-bottom: 10%;
}

.kitPageLink {
  text-decoration: none !important;
  margin-left: 2%;
}


.femmeDeptContainer{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  margin-bottom: 10%;
  padding-top: 10%;
}

.dinnerDrinksContainer {
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  margin-bottom: 10%;
}

.dinnerDrinkPageLink {
  text-decoration: none !important; 
  margin-left: 2%;
}

.kitApp {
  width: 70%;
}

.dinnerDrinksApp {
  width: 70%;
}


.appSummary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-top: 2%;
  margin-left: 5%;
}

.fdProductAndRole {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-left: 5.8%;
}

.kitProductAndRole {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-left: 4%;
}

.ddProductAndRole {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-left: 4%;
}

.appName {
  color: black !important;
  text-align:left;
  font-weight: 500;
  font-size: 35px;
  margin-top: 0%;
  margin-bottom: 3%;
}


.femmeDeptProductAndRole {
  color: black !important;
  text-decoration: none !important;
  margin-left: 2%;
}

.femmeDeptPageLink {
  color: black !important;
  text-decoration: none !important;
}

.fdRole {
    font-weight: normal;
    font-size: 18px;
    color: #6E6E73;
}

.openWebsite {
  display: flex;
  flex-direction: row;
}

.openGithub {
  margin-left: 10%;
  display: flex;
  flex-direction: row;
}

.project {
  font-weight: normal;
  font-size: 1em
}

.dinnerDrinksImg {
  width: 85%;
}

.kitImg{
  width: 85%;
}

.femmeDeptImg{
  width: 85%;
}

.productImg {
  margin-top: 2%;
  width: 100%;
}

.femmeDeptApp {
  width: 70%;
}
/* ----------------------------- FEMME DEPT PAGE ---------------------------- */
.projectTitle {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.01em;
  margin-bottom: 4%;
  margin-top: 0%;
}

.femmeDeptPage {
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.summaryAndImageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.summaryContainer {
  width: 32.5%;
}

.summary {
  font-size: 20px !important;
}

.femmeDeptImage {
  width: 120%;
}

.femmeDeptSummary {
  text-align:left;
  font-weight: normal;
  line-height: 35px;
  margin-top: 0%;
  font-size: 20px;
  margin-bottom: 13%;
  letter-spacing: 0.01em;
}

.product {
  font-size: 25px;
  margin-bottom: 2%;
  margin-top: 2%;
  color: black;
  font-weight: 500;
  letter-spacing: 0.01em;
  text-decoration: none !important;
}

.technologiesUsed {
  text-align:left;
  font-weight: normal;
  line-height: 35px;
  margin-top: 0%;
  margin-bottom: 3%;
  letter-spacing: 0.01em;
}

.productImageContainer {
  width: 40%;

}

.prototypeButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 9.2%;
}

.prototype {
  padding: .5em 2.5em;
  border-radius: 24px;
  background-color: transparent;
  color: black;
  border: 1.5px solid black;
  letter-spacing: 0.02em;
  font-size: 18px;
  font-family: aeonik-regular, sans-serif;

}

.myRole{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: aeonik-medium, sans-serif;
  margin: 0;
  letter-spacing: 0.01em;
  font-size: 30px;
  line-height: 2;
}

.femmeDeptRole {
  margin: 0;
  letter-spacing: 0.01em;
  font-size: 20px;
}

.femmeDeptTechnology {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  letter-spacing: 0.01em;
  padding-left: 100%;
  width: 120%;
  font-size: 30px;
  line-height: 2;
  font-family: aeonik-medium, sans-serif;
}

.femmeDeptRoleAndTechnology {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 20px;
  text-align: left;
  line-height: 35px;
  margin-left: 10%;
  margin-top: 5%;

}

.femmedeptsvg {
  width: 50%;
}

.figma {
  font-weight: 400;
  letter-spacing: 0.01em;
  margin: 0;
  font-size: 20px;
  line-height: 1.75;
  font-family: aeonik-regular, sans-serif;
}

.problemContainer,
.solutionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
  margin-top: 10%;
}

.researchContainer {
  margin-left: -3.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
  margin-top: 10%;
}

.problem,
.solution,
.research {
font-size: 40px;
margin: 0;
font-weight: 500;
letter-spacing: 0.01em;
font-family: aeonik-medium;

}

.problemSummary,
.solutionSummary,
.researchSummary {
  width: 33%;
  text-align: left;
  margin: 0;
  line-height: 35px;
  letter-spacing: 0.01em;

}

.competitiveAnalysis,
.basicDesignElements {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.01em;
  font-family: aeonik-medium, sans-serif;
}


.competitiveAnalysisImg {
  width: 55%;
}

.basicDesignElementsImg {
  width: 40%;
}

.competitiveAnalysisContainer {
  margin-top: 10%;
}

.basicDesignElementsContainer {
  margin-top: 10%;
  margin-bottom: 5%;
}
/* ----------------------------------- KIT PAGE ---------------------------------- */
.kitPage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* padding-left: 6%; */
  padding-bottom: 6%;
  padding-top: 4%;
  width: 100%;
}

.kitSummaryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 59%;
  margin-left: 5%;
}

.kitSummary {
  text-align:left;
  font-weight: normal;
  line-height: 35px;
  margin-top: 0%;
  font-size: 20px;
  letter-spacing: 0.01em;
  width: 100%;
}

.kitUsernameAndPassword {
  margin-bottom: 0;
}

.kitRoleAndTechnology {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 20px;
  text-align: left;
  line-height: 35px;
  width: 100%;
  margin-top: -5%;
} 

.kitRole {
  margin: 0;
  letter-spacing: 0.01em;
  font-size: 20px;
  width: 120%;
}

.kitTechnology {
  letter-spacing: 0.01em;
  width: 120%;
  font-family: aeonik-medium, sans-serif;
  font-size: 30px;
  margin-left: 80%;
  line-height: 2;
}

.website {
  padding: .5em 2.5em;
  border-radius: 24px;
  background-color: transparent;
  color: black;
  border: 1.5px solid black;
  letter-spacing: 0.02em;
  font-size: 18px;
  font-family: aeonik-regular, sans-serif;
}

.gitHubLink {
  text-decoration: none;
  padding: .5em 3.37em;
  border-radius: 24px;
  background-color: transparent;
  color: black;
  border: 1.5px solid black;
  letter-spacing: 0.02em;
  font-size: 18px;
  font-family: aeonik-regular, sans-serif;
}

.gitHubWebsiteContainer {
  width: 80%;
}

.kitImage {
  width: 80%;
  margin-bottom: 4%;
}

.githubAndWebsite {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
/* ----------------------------------- DINNER DRINKS PAGE ---------------------------------- */
.dinnerDrinkPage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 4%;
  padding-bottom: 10%;
  width: 100%;
}

.dinnerDrinkSummaryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 59%;
  margin-left: 5%;
}

.dinnerDrinkSummary {
  text-align:left;
  font-weight: normal;
  line-height: 35px;
  margin-top: 0%;
  font-size: 20px;
  letter-spacing: 0.01em;
  width: 100%
}

.dinnerDrinkRoleAndTechnology {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 20px;
  text-align: left;
  line-height: 35px;
  width: 100%;
} 

.dinnerDrinkRole {
  margin: 0;
  letter-spacing: 0.01em;
  font-size: 20px;
  width: 120%;
}

.dinnerDrinkTechnology {
  font-family: aeonik-medium;
  font-size: 30px;
  letter-spacing: 0.01em;
  width: 120%;
  margin-left: 80%;
  line-height: 2;
}

.dinnerDrinkTechnologies {
  font-family: aeonik-regular, sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.01em;
  margin: 0%;
}

.dinnerDrinkImage {
  width: 80%;
  margin-bottom: 4%;
}
/* --------------------------------- CONTACT -------------------------------- */
.contactSection {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.messageMe {
  font-weight: 500;
  letter-spacing: 0.01em;
}

.contactFormSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  padding-top: 2%;
  padding-bottom: 10%;
  justify-content: center;
}

.contactForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  padding-top: 2%;
  justify-content: center;
}

label {
  margin-top: 10%;
  margin-bottom: 10%;
}

.contactDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contactName {
  margin-bottom: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 18%;
  font-size: 16px;
  outline: none !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  border-bottom: 1.5px solid black;
  background-color: transparent;
}

.contactEmail {
  margin-left: 20%;
  margin-bottom: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 18%;
  font-size: 16px;
  outline: none !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  border-bottom: 1.5px solid black;
  background-color: transparent;
}

.contactMessage {
  border: none;
  width: 201.5%;
  padding-top: 2%;
  height: 42px;
  width: 100%; 
  font-size: 16px;
  padding-right: 18%;
  box-sizing: border-box;
  resize: none;
  outline: none !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  border-bottom: 1.5px solid black;
  background-color: transparent;
}

.submitButton {
  margin-top: 10%;
  padding: 0.6em 4em;
  color: black;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  background-color:transparent;
  font-family: aeonik-regular, sans-serif;
  border-radius: 24px;
  border: 1.5px solid black;
}

.submitButton:hover {
  cursor: pointer;
}

.errorMessage {
  position: absolute;
  left: 26.3%;
}
/* --------------------------------- RESUME --------------------------------- */
.downloadResumeSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.downloadResume {
  color:  black;
  text-decoration: none;
  font-size: 1.5em;
  margin-top: 5%;
}

.downloadResume:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* --------------------------------- FOOTER --------------------------------- */
.githubIcon, 
.linkedInIcon, 
.emailIcon,
.twitterIcon {
  color: black;
  margin-right: 1%;
  margin-left: 1%;
  cursor: pointer;
}

footer {
  position: relative;
  width: 100%;
  bottom: 0;
  padding-top: 3%;
  padding-bottom: 1%;
}

/* ---------------------------------- ABOUT MEDIA QUERIES --------------------------------- */
@media only screen and (max-width: 1088px) {
  .introText {
    font-size: 50px;
  }
}

@media only screen and (max-width: 900px) {
.aboutText {
    width: 90%;
  }

.dinnerDrinksApp,
.kitApp,
.femmeDeptApp {
  width: 100%;
  }

.kitProductAndRole,
.fdProductAndRole,
.ddProductAndRole {
    margin-left: 6%;
  }

  .femmeDeptContainer {
    padding-top: 0;
  }
}

@media only screen and (max-width: 798px) {
  .title {
    font-size: 85px;
  }
}

@media only screen and (max-width: 778px) {
  .introText {
    font-size: 40px;
  }

  .aboutText {
    font-size: 20px;
  }
}

@media only screen and (max-width: 678px) {
  .title {
    font-size: 75px;
  }

  .introText {
    font-size: 35px;
  }
}

@media only screen and (max-width: 598px) {
  .title {
    font-size: 60px
  }

  .introText {
    font-size: 28px;
  }

  .aboutText {
    font-size: 18px;
    line-height: 1.5;

  }
}

@media only screen and (max-width: 479px)
{
  .title {
    font-size: 45px
  }

  .introText {
    font-size: 25px;
  }

  .aboutText {
    font-size: 18px;
  }

}

@media only screen and (max-width: 389px)
{
  .title {
    font-size: 40px
  }

  .introText {
    font-size: 20px;
  }

  .aboutText {
    font-size: 14px;
  }

}

@media only screen and (max-width: 319px)
{
  .title {
    font-size: 30px
  }

  .introText {
    font-size: 18px;
  }

}




/* @media only screen and (max-width: 479px) {
  .title {
    font-size: 50px;
    padding-bottom: 4%
  }

  .introText {
    font-size: 25px;
  }

  .aboutText {
    font-size: 18px;
  }
}

@media only screen and (max-width: 399px) {
  .title {
    font-size: 40px
  }
} */

/* -------------------------- FEMME DEPT MEDIA QUERIES ------------------------- */
@media only screen and (max-width: 900px) {
 .summaryAndImageContainer {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
 }

 .summaryContainer {
  width: 80%;
 }

 .productImageContainer {
  width: 80%;
 }
 .prototypeButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 4%;
  margin-left: 0;
 }

 .femmeDeptSummary {
  margin-bottom: 4%;
 }

 .femmeDeptRoleAndTechnology {
  display: flex;
  flex-direction: column;
 }

 .femmeDeptTechnology {
  padding: 0;
 }

 .problemContainer,
 .solutionContainer,
 .researchContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;
 }

 .problemSummary, 
 .solutionSummary, 
.researchSummary {
  width: 85%;
 }

 .problem, 
 .solution, 
 .research {
  margin-bottom: 2%;
  font-size: 30px;
  font-family: aeonik-medium, sans-serif;
 }

 .competitiveAnalysisContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;
 }

 .competitiveAnalysisImg,
 .basicDesignElementsImg {
  width: 80%;
 }

 .basicDesignElementsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;
 }

 .competitiveAnalysis, 
 .basicDesignElements {
  margin-bottom: 4%;
  font-size: 30px;
 }
}

/* ---------------------------- KIT MEDIA QUERIES --------------------------- */

@media only screen and (max-width: 950px) {
  .kitPage {
   display: flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
  }

  .kitSummaryContainer {
    width: 95%;
  }

  .kitRoleAndTechnology {
    margin-top: 2%;
    margin-bottom: 7%;
  }

  .gitHubWebsiteContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
  }

  .githubAndWebsite {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .kitImageSection {
    width: 50%;
  }

  .kitImage {
    width: 100%;
  }
} 


/* ----------------------- DINNER DRINKS MEDIA QUERIES ---------------------- */
@media only screen and (max-width: 950px) {
  .dinnerDrinkPage {
   display: flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
  }

  .dinnerDrinkSummaryContainer {
    width: 95%;
  }

  .dinnerDrinkRoleAndTechnology {
    margin-top: 2%;
    margin-bottom: 7%;
  }

  .gitHubWebsiteContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
  }

  .githubAndWebsite {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .dinnerDrinkImageSection {
    width: 50%;
  }

  .dinnerDrinkImage {
    width: 100%;
  }
} 

