body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  position: relative;
  min-height: 100vh;
  background-color:  #DDECFB;
  background-size: cover;
  background-repeat: no-repeat;
}

/* ----- HEADER----- */

.header {
 position:fixed;
 top: 0;
 left: 0;
 right: 0;
 background-color:#DDECFB;
/* background-color: orange; */
 width:100%;

}

.sophieHomer {
  color:  black;
  font-size: 2em;
  margin-right: 20%;
}

/* ----- NAV BAR ----- */

.nav {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #f5f2eb;
}

.about, 
.resume, 
.portfolio,
.contact {
  font-size: 1em;
  font-weight: bolder;
  color:  black;
  border: none;
  background-color: transparent !important;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  margin-left: 5%;
}

.about:hover, 
.resume:hover, 
.portfolio:hover,
.contact:hover {
  text-decoration: underline;
  cursor: pointer;
  border: none;
}

/* ----- ABOUT ----- */

.aboutTextDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  text-align: left;
  width: 50%;
}

.aboutText {
  font-weight: normal;
  font-size: 1.1em;
  line-height: 1.9em;
  /* max-width:600px; */
  color:  black;
}

.aboutImg {
  max-width: 20%;
  border-radius: 50%;
}

.aboutSection {
  display: flex;
  flex-direction: row;
}

.aboutContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 10%;
  padding-bottom: 10%;
}

/* ----- PORTFOLIO ----- */

/* .gitHubLink {
  color: black;
  padding-bottom: 3%;
  padding-top: 3%;
  transition: all .2s ease-in-out; 
  word-spacing: 3px;
  text-decoration: none;
  border: none;
  border-bottom: 1px solid rgb(192, 192, 192);
  width: 100%;
} */

/* .gitHubLink:hover {
  text-decoration: underline;
} */

/* .workDaySchedulerLink {
  color: black;
  padding-bottom: 10%;
  transition: all .2s ease-in-out; 
  text-decoration: none;
} */

/* .workDaySchedulerLink:hover {
  text-decoration: underline;
} */

.portfolioTitle {
  font-size: 1.5em;
  padding-bottom: 2%;
}

.portfolioImages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.gitHubLinkLeft {
  color: black;
  text-decoration: none;
  font-size: 1.4em;
  /* padding-bottom: 2%; */

}

.gitHubLinkLeft:hover {
  text-decoration: underline;
}

.gitHubLinkRight {
  color:  black;
  text-decoration: none;
  font-size: 1.4em;
  /* margin-bottom: 2%; */
}

.gitHubLinkRight:hover {
  text-decoration: underline;
}

section {
  width: 100%;
}

.kitContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  width: 90%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  padding-top: 3%;
  padding-bottom: 3%;
}

.weatherContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
  width: 90%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  padding-top: 3%;
  padding-bottom: 3%;
}

.drawTheLineContainer {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-bottom: 5%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  padding-top: 3%;
  padding-bottom: 3%;
}

.dinnerDrinkContainer {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  width: 90%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  padding-top: 3%;
  padding-bottom: 3%;
}

/* .schedulerContainer {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10%;
  width: 90%;
  border-radius: 25px;
} */

.app {
  width: 40%;
}

.appSummary {
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  padding-top:2%;
  padding-bottom:2%;
}

.summary {
  text-align:left;
  font-weight: normal;
  line-height: 1.7;
  margin-bottom: 0%;
}

.project {
  font-weight: normal;
  font-size: 1em
}

.drawTheLineImg {
  width: 80%;
  border-radius: 25px;
}

.kitImg{
  width: 80%;
  border-radius: 25px;
}

.dinnerDrinksImg{
  width: 80%;
  border-radius: 25px;
}

.weatherDashboardImg {
  width: 80%;
  border-radius: 25px;
  margin-bottom: 4%;
  margin-top: 4%;
}

/* .workDaySchedulerImg {
  width: 80%;
} */

.kitImg:hover, 
.dinnerDrinksImg:hover, 
.weatherDashboardImg:hover, 
.workDaySchedulerImg:hover,
.drawTheLineImg:hover {
  opacity: .8;
  cursor: pointer;
}

/* ----- CONTACT ----- */

.contactSection {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.contactForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: center;
}

label {
  margin-top: 10%;
  margin-bottom: 10%;
}

.contactDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contactName {
  margin-bottom: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 18%;
  outline: none !important;
  font-family: 'Raleway', sans-serif;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}

.contactEmail {
  margin-left: 20%;
  margin-bottom: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 18%;
  outline: none !important;
  font-family: 'Raleway', sans-serif;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}

.contactMessage {
  border: none;
  width: 201.5%;
  padding-top: 2%;
  height: 42px;
  width: 100%; 
  box-sizing: border-box;
  resize: none;
  outline: none !important;
  font-family: 'Raleway', sans-serif;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}

.submitButton {
  margin-top: 10%;
  padding-top: 2%;
  padding-bottom:2%;
  padding-left: 8%;
  padding-right: 8%;
  color: white;
  font-size: .9em;
  background-color:black;
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
  border: none;
}

.submitButton:hover {
  background-color: white; 
  color: black;
  cursor: pointer;
}

.errorMessage {
  position: absolute;
  left: 31.5%;
}
/* ----- RESUME ----- */
.resumeList {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;
 padding-left: 20%;
 padding-right: 20%;
 padding-bottom: 10%;
}

.resumeTitle {
  padding-bottom: 2%;
  font-size: 1.5em;
}

.proficiencyList {
  padding-bottom: 3%;
  font-weight: normal;
  font-size: 1em;
  line-height: 2.5em;
}

.downloadResumeDiv {
  background-color: rgb(251, 246, 246);
  padding-top: 10%;
  padding-bottom: 10%;
}

.downloadResume {
  color:  black;
  text-decoration: none;
  font-size: 1.5em;
  margin-top: 5%;
}

.downloadResume:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* ----- FOOTER ----- */

.githubIcon, 
.linkedInIcon, 
.emailIcon {
  color: black;
  margin-right: 3%;
}

.githubIcon:hover, 
.linkedInIcon:hover, 
.emailIcon:hover {
  cursor: pointer;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 3%;
  padding-bottom: 1%;
  /* background-color: orange; */
}

/* ------------------------------- MEDIA QUERY ------------------------------ */

@media only screen and (max-width: 1148px) {
  .aboutText {
    width: 70%;
  }

  /* .aboutImg {
    min-width: 32%;
   } */
}

@media only screen and (max-width: 980px) {
 .aboutImg {
  object-fit: contain;
  
 }
}

/* @media only screen and (max-width: 921px) {
  .aboutImg {
   min-width: 32%
  }
 } */

@media only screen and (max-width: 900px) {
  .aboutContent {
    flex-direction: column;
    width: 108%;
    align-items: center;
    padding-top: 5%
  }

  .aboutImg {
    width: 100%;
    padding-bottom: 5%;
  }

  .aboutText {
    width: 100%;
  }

  .header {
    margin-right: -10%;
  }

}

@media only screen and (max-width: 450px) {
  .sophieHomer{
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media only screen and (max-width: 380px) {
  .header {
    margin-right: -20%;
  }
}



