body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background-color: #f5f2eb;
}

/* ----- HEADER----- */

.header {
  background-color: black;
  padding: 3%;
  margin-bottom: 2%;
}

/* ----- NAV BAR ----- */

.nav {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  color: #f5f2eb;

}

.about, .resume, .portfolio, .contact {
  font-size: .9em;
  background-color: black;
  border: none;
  color: #f5f2eb;
}

/* ----- ABOUT ----- */

.aboutText {
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-left: 15%;
  width: 40%;

}

.aboutContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

/* ----- PAGE TITLE ----- */

.pageTitle {
  font-size: 1.5em;
  margin-bottom: 2%;
}

/* ----- PORTFOLIO ----- */

.portfolioImages {
  display: flex;
  flex-direction: column;
}

.kitImg,
.dinnerDrinksImg,
.weatherDashboardImg,
.workDaySchedulerImg {
  margin-bottom: 1%;
}

.kitImg:hover, 
.dinnerDrinksImg:hover, 
.weatherDashboardImg:hover, 
.workDaySchedulerImg:hover {
  opacity: .5;
}

/* ----- CONTACT ----- */

.contactForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
  padding-left: 10%;
}

label {
  margin-top: 10%;
  margin-bottom: 10%;
}

.contactName, .contactEmail {
  margin-bottom: 10%;
  padding: 5%;
  border:none;
  width: 100%;
}

.contactMessage {
  border: none;
  width: 200%;
  padding: 30%;
}

.submitButton {
  margin-top: 10%;
  border: none;
  padding: 5%;
  background-color: black;
  color: white;
}

.submitButton:hover {
  opacity: .7;
}

/* ----- RESUME ----- */

.backEndList, .frontEndList {
  list-style: none;
  line-height: 1.5em;
}

.frontEnd, .backEnd {
  font-weight: normal;
}

.downloadResume {
  font-weight: normal;
  font-size: 1.2em;

}

/* ----- FOOTER ----- */

.githubIcon, 
.linkedInIcon, 
.stackOverflowIcon {
  color: black;
  margin-right: 2%;
}

/* .githubIcon:hover, 
.linkedInIcon:hover, 
.stackOverflowIcon:hover {
  transform: scale(5);  
} */


footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}


